---
import Section from '../layout/Section.astro';
import Container from '../layout/Container.astro';
import Heading from '../ui/Heading.astro';
import Text from '../ui/Text.astro';
import Grid from '../layout/Grid.astro';
import Button from '../ui/Button.astro';
import ArrowRightIcon from '../ui/ArrowRightIcon.astro';
import GithubIcon from '../ui/GitHubIcon.astro';
import LinkedInIcon from '../ui/LinkedInIcon.astro';
import AnimatedList from '../ui/AnimatedList.astro';

const name = 'Daniel Derudder';
const jobTitle = 'Développeur';
const jobTitle2 = 'Full Stack';
const description =
  'Développeur full stack trilingue (FR - NL - EN) basé à Paris. Je crée des applications web et sites internet.';
const skills = [
  'React',
  'Node.js',
  'JavaScript',
  'TypeScript',
  'Serverless',
  'PostgreSQL',
  'SQLite',
  'Drizzle',
  'Hono',
  'CF Workers',
  'TanStack',
];
---

<Section class="hero">
  <Container>
    <Grid class="hero-grid">
      <!-- <Heading level={1} class="hero-name">{name}</Heading> -->
      <Heading level={2} class="hero-job-title hero-job-title-1">
        {jobTitle}
      </Heading>
      <AnimatedList class="hero-skills" items={skills} />
      <Heading level={2} class="hero-job-title hero-job-title-2"
        >{jobTitle2}</Heading
      >
      <!-- <Text class="hero-description">
        {description}
      </Text>
      <Button variant="secondary" class="hero-button button-rounded button-cta"
        >Télécharger mon CV <ArrowRightIcon size={24} /></Button
      >
      <div class="hero-icons-container">
        <Button
          variant="secondary"
          class="hero-button button-rounded button-icon button-icon-github"
          ><GithubIcon /></Button
        >
        <Button
          variant="secondary"
          class="hero-button button-rounded button-icon button-icon-linkedin"
          ><LinkedInIcon /></Button
        >
      </div> -->
    </Grid>
  </Container>
</Section>

<style>
  .hero {
    min-height: calc(100svh - (var(--nav-height) + 1px));
  }
  .hero-name {
    grid-row: 1;
    grid-column: span 8;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-light);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-wide);
  }

  .hero-job-title {
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
  }
  .hero-job-title-1 {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    letter-spacing: var(--letter-spacing-narrow);
  }
  .hero-job-title-2 {
    grid-row: 3;
    grid-column-start: 9;
    grid-column-end: -1;
    letter-spacing: var(--letter-spacing-narrow);
  }
  .hero-skills {
    grid-row: 2;
    grid-column-start: 5;
    grid-column-end: 9;
  }
  .hero-description {
    grid-row: 3;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-light);
    grid-column: span 6;
    line-height: 1.25;
  }
  .button-cta {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-block: var(--space-sm);
    font-size: var(--font-size-md);
  }
  .hero-icons-container {
    grid-row: 4;
    grid-column-start: 4;
    grid-column-end: 6;
    display: flex;
    gap: var(--space-sm);
  }
</style>
